PORT=8080
JWT_TOKEN=secret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=ai_assistants_catalog
NGINX_HTTP_PORT=3000
PUBLIC_URL=http://localhost:3000
API_PREFIX=/api/v1
BACKEND_URL=/api/v1
